*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    height: 100%;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body
{
    min-height: 100vh;
    background-image: url('./images/FatChoy_hbg.png');
    background-position: top center;
    display: flex;
    flex-direction: column;
}

header
{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links-div
{
    /* border: 1px solid red; */
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* Style tab links */
.tablink 
{
    all: unset;
    cursor: pointer;
    width: auto;
    padding: 1px 20px;
    font-size: 2rem;
    text-align: center;
    color: #242021;
    transition: all .1s ease;
}
.tablink:hover
{
    border-bottom: 1px solid #242021;
}

#content
{
    width: 100%;
    min-height: 100%;
}

.tablink, 
.homeTxt h1,
#Menu h1,
#Menu article h2,
.foodItem h3,
#Contact h1
{
    font-family: 'Permanent Marker', sans-serif;
}

#Menu p,
.homeTxt p,
#Contact article p
{
    font-family: 'Bellefair', serif;
}
#Home, 
#Contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeTxt,
#Contact article
{
    max-width: 50%;
    text-align: center;
    letter-spacing: .05rem;
    line-height: 1.5rem;
    margin-top: 250px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.homeTxt h1, 
.homeTxt p,
#Contact article h1,
#Contact article p
{
    color: #242021;
}
.homeTxt h1,
#Contact article h1
{
    font-size: 4rem;
    line-height: 4rem;
}
.homeTxt button
{
    all: unset;
    cursor: pointer;
    width: 140px;
    padding: 16px 26px;
    border-radius: 300px;
    background-color: #242021;
    color: #fdfcfa;
    font-size: 1.2rem;
    transition: all .2s ease-in;
}
.homeTxt button:hover
{
    opacity: .7;
}
.homeTxt p,
#Contact article p
{
    font-size: 1.7rem;
}

#Menu 
{
    background-color: rgb(245, 248, 245);
}
#Menu h1,
.openDays
{
    text-align: center;
}
.openDays p,
.foodItem p
{
    font-size: 1.4rem;
}
#Menu h1
{
    font-size: 4rem;
    line-height: 4rem;
    padding: 30px 0;
}
.openDays
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* margin-bottom: 30px; */
}
.dishesCont
{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    /* border: 1px solid gold; */
}
#Menu article
{
    width: 30%;
    height: 100%;
    padding: 20px;
    /* border: 1px solid rebeccapurple; */
    text-align: left;
}
#Menu  h2
{
    font-size: 3rem;
}
.foodItem
{
    /* border: 1px solid greenyellow; */
    margin: 1rem 0;
}
.foodItem h3
{
    font-size: 1.95rem;
}

@media screen and (max-width:996px) {
    #Contact article,
    .homeTxt
    {
        width: 100%;
    }
    #Menu article
    {
        width: 100%;
    }
}